<title>Docs</title>
<script src="main.js"></script>

<aside class="w-64" aria-label="Sidebar">
    <div class="overflow-y-auto py-4 px-3 h-[100%] bg-gray-200 rounded dark:bg-gray-500">
        <ul class="space-y-2">
            <li>
                <span class="ml-3">
                    <big>
                            Let's get start
                    </big>
                </span>
            </li>
            <li>
                <span class="flex transition-[1s] items-center cursor-pointer text-base pl-3 mb-3 front-normal text-gray-900 rounded-lg dark:text-white hover:text-lg hover:text-cyan-400 hover:font-bold dark:hover:text-cyan-400 text bold: ml-3">
                    Hello World!
                </span>
            </li>
            <li>
                <span class="flex transition-[1s] items-center cursor-pointer text-base pl-3 mb-3 front-normal text-gray-900 rounded-lg dark:text-white hover:text-lg hover:text-cyan-400 hover:font-bold dark:hover:text-cyan-400 text bold: ml-3">
                    Variables & specifier
                </span>
            </li>
        </ul>
    </div>
</aside>
<script src="https://cdn.tailwindcss.com"></script>
