<title>Docs</title>
<script src="main.js"></script>
<link rel="stylesheet" href="main.css">

<body class="bg-gray-800">
    <div aria-label="Sidebar">
        <div
            class="overflow-y-auto py-4 px-3 h-[100%] bg-gray-200 rounded dark:bg-gray-500 top-0 right-0 fixed pr-[50px]">
            <ul class="space-y-2">
                <li>
                    <span class="ml-3">
                        <big>
                            Let's get start
                        </big>
                    </span>
                </li>
                <li>
                    <a href="/docs/getting_started.html"
                        class="flex transition-[1s] items-center cursor-pointer text-base pl-3 mb-3 front-normal text-gray-900 rounded-lg dark:text-white hover:text-md hover:text-cyan-400 hover:font-bold dark:hover:text-cyan-400 text bold: ml-3">
                        Getting started
                    </a>
                </li>
                <li>
                    <a href="/docs/hello_world.html"
                        class="flex transition-[1s] items-center cursor-pointer text-base pl-3 mb-3 front-normal text-gray-900 rounded-lg dark:text-white hover:text-md hover:text-cyan-400 hover:font-bold dark:hover:text-cyan-400 text bold: ml-3">
                        Hello World!
                    </a>
                </li>
                <li>
                    <a href="/docs/variables_&_specifier.html"
                        class="flex transition-[1s] items-center cursor-pointer text-base pl-3 mb-3 front-normal text-gray-900 rounded-lg dark:text-white hover:text-md hover:text-cyan-400 hover:font-bold dark:hover:text-cyan-400 text bold: ml-3">
                        Variables & specifier
                    </a>
                </li>
                <li>
                    <a href="/docs/formatter.html"
                        class="flex transition-[1s] items-center cursor-pointer text-base pl-3 mb-3 front-normal text-gray-900 rounded-lg dark:text-white hover:text-md hover:text-cyan-400 hover:font-bold dark:hover:text-cyan-400 text bold: ml-3">
                        formatter
                    </a>
                </li>
                <li>
                    <a href="/docs/formatter.html"
                       class="flex transition-[1s] items-center cursor-pointer text-base pl-3 mb-3 front-normal text-gray-900 rounded-lg dark:text-white hover:text-md hover:text-cyan-400 hover:font-bold dark:hover:text-cyan-400 text bold: ml-3">
                        Evulator
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <script src="https://cdn.tailwindcss.com"></script>

</body>
